template(name="applicationLayout")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='You are brilliant. You are powerful. You are sophisticated. You are BORED. The ultimate unofficial RoboRally board game fan site.')
    meta(name='author', content='Marcel Panse')
    title RoboRally
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') RoboRally
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='/')
            if loggingIn
              li.page-scroll
                a(href="{{pathFor 'gamelist.page'}}") Games
            if loggingIn
              li.page-scroll
                a(href="{{pathFor 'ranking.page'}}") Ranking
            li.page-scroll
              +loginButtons
  if loggingIn
    header
      .container
        .row
          .col-md-8
            +yield
          .col-md-4.well
            +yield("rightPanel")
            +yield("rightPanel2")
            +yield("rightPanel3")
   else
    header
      .container
        .row
          .col-lg-12.text-center
            h2 Update
            hr.star-light
            .row
              .col-lg-4.col-lg-offset-2
                p
                  | [April 4th] new version, all account deleted!
        .row
          .col-lg-12.text-center
            h2 About
            hr.star-light
        .row
          .col-lg-4.col-lg-offset-2
            p
              | This is an unofficial fansite!
          .col-lg-4
            p
              | Based on Marcel Panse work at www.roborally.com.
              br
              | Get the source on
              a(href='https://github.com/blinkingnoise/roborally').btn.btn-primary.btn-lg GitHub

  // Footer
  #fb-root
  footer.text-center
    .footer-below
      .container
        .row
          .col-lg-12
            +usersPill
            h6.pull-right.small
              i.fa.fa-youtube-play
              a(href="https://youtu.be/0l8Y-L5IZLE", target="_blank")
                | tutorial video
              i.fa.fa-book(style="padding-left: 10px")
              a(href="/roborally-manual.pdf", target="_blank")
                | game rules PDF
  +tooltips
