template(name="splash")
  h1 RoboRally Online!
  br
  p
    | Welcome! If you are familiar with the game, just
    a.login(href="#") sign in or register
    | and jump right in the chaos!

template(name="loading")
  p Loading..
